{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'mijoz/style.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'mijoz/xizdetail.css' %}">
    <div class="xizmat-container kalla_ogriq col">
        <div class="xizmat-image">

            <img src="{{ xizmat.yonalish_id.picture.url }}" alt="{{ xizmat.yonalish_id.nomi }}" class="xizmat-image">
        </div>
        <div class="xizmat-details">

            <h2 class="xizmat-title">{{ xizmat.yonalish_id.nomi }}</h2>

            <p class="xizmat-description">{{ xizmat.yonalish_id.xizmatlar }}</p><br>
            <p style="font-size:20px;">механик:<i> {{ xizmat.usta_id.fio }}</i></p>
        </div>
    </div>
{% endblock content %}
