{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'mijoz/style.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
 <main>
    <article>

      <!--
        - #HERO
      -->

      <section class="hero has-bg-image" aria-label="home" style="background-image: url('./static/images/hero-bg.jpg')">
        <div class="container">

          <div class="hero-content">

            <p class="section-subtitle :dark">У нас есть талантливые инженеры и механики</p>

            <h1 class="h1 section-title">Ремонт и обслуживание автомобилей</h1>

<!--            <p class="section-text">-->
<!--              -->
<!--            </p>-->

            <a href="{% url 'hizmatl' %}" class="btn">
              <span class="span">Наши сервисы</span>

              <span class="material-symbols-rounded">arrow_forward</span>
            </a>

          </div>

          <figure class="hero-banner" style="--width: 1228; --height: 789;">
            <img src="{% static 'images/hero-banner.png' %}" width="1228" height="789" alt="red motor vehicle"
              class="move-anim">
          </figure>

        </div>
      </section>





      <!--
        - #SERVICE
      -->

      <section id="servis" class="section service has-bg-image" aria-labelledby="service-label"
        style="background-image: url('./static/images/service-bg.jpg')">
        <div class="container">

          <p class="section-subtitle :light" id="service-label">Наши сервисы</p>

          <h2 class="h2 section-title">МЫ ПРЕДОСТАВЛЯЕМ ОТЛИЧНЫЙ СЕРВИС ДЛЯ ВАШЕГО АВТОМОБИЛЯ</h2>

          <ul class="service-list">

            <li>
              <div class="service-card">

                <figure class="card-icon">
                  <img src="./static/images/services-1.png" width="110" height="110" loading="lazy" alt="Engine Repair">
                </figure>

                <h3 class="h3 card-title">Ремонт двигателя</h3>

                <p class="card-text">
                  Ремонт двигателя автомобиля
                </p>

<!--                <a href="#" class="btn-link">Ko'proq ko'rish</a>-->

              </div>
            </li>

            <li>
              <div class="service-card">

                <figure class="card-icon">
                  <img src="./static/images/services-2.png" width="110" height="110" loading="lazy" alt="Brake Repair">
                </figure>

                <h3 class="h3 card-title">РЕМОНТ ТОРМОЗОВ</h3>

                <p class="card-text">
                  Замена тормозной системы, ремонт
                </p>

<!--                <a href="#" class="btn-link">Ko'proq ko'rish</a>-->

              </div>
            </li>

            <li>
              <div class="service-card">

                <figure class="card-icon">
                  <img src="./static/images/services-3.png" width="110" height="110" loading="lazy" alt="Tire Repair">
                </figure>

                <h3 class="h3 card-title">Ремонт шин</h3>

                <p class="card-text">
                  Ремонт автомобильных шин, замена, ремонт
                </p>

<!--                <a href="#" class="btn-link">KO'PROQ ko'rish</a>-->

              </div>
            </li>

            <li>
              <div class="service-card">

                <figure class="card-icon">
                  <img src="./static/images/services-4.png" width="110" height="110" loading="lazy"
                    alt="Battery Repair">
                </figure>

                <h3 class="h3 card-title">Ремонт аккумулятора</h3>

                <p class="card-text">
                  Замена аккумулятора автомобиля, ремонт
                </p>

<!--                <a href="#" class="btn-link">Ko'proq ko'rish</a>-->

              </div>
            </li>

            <li class="service-banner">
              <img src="./static/images/services-5.png" width="646" height="380" loading="lazy" alt="Red Car"
                class="move-anim">
            </li>

            <li>
              <div class="service-card">

                <figure class="card-icon">
                  <img src="./static/images/services-6.png" width="110" height="110" loading="lazy"
                    alt="Steering Repair">
                </figure>

                <h3 class="h3 card-title">Ремонт рулевого колеса</h3>

                <p class="card-text">
                  Замена рулевого колеса автомобиля, ремонт
                </p>

<!--                <a href="#" class="btn-link">Ko'proq ko'rish</a>-->

              </div>
            </li>

          </ul>

          <a href="{% url 'hizmatl' %}" class="btn">
            <span class="span"> Посмотреть все услуги</span>

            <span class="material-symbols-rounded">arrow_forward</span>
          </a>

        </div>
      </section>





      <!--
        - #ABOUT
      -->

      <section id="about" class="section about has-before" aria-labelledby="about-label">
        <div class="container">

          <figure class="about-banner">
            <img src="./static/images/about-banner.png" width="540" height="540" loading="lazy"
              alt="vehicle repire equipments" class="w-100">
          </figure>

          <div class="about-content">

            <p class="section-subtitle :dark">о нас</p>

            <h2 class="h2 section-title">AutoFix </h2>

            <p class="section-text">
              речь идет о предоставлении вашему автомобилю высочайшего уровня обслуживания и поддержании вашего автомобиля в отличном состоянии.
              профессиональная команда, которая вкладывает время и силы.
            </p>

            <p class="section-text">
              Наша главная цель – предоставить каждому клиенту персональный подход, качественный сервис и эффективный результат.
            </p>

            <ul class="about-list">

              <li class="about-item">
                <p>
                  <strong class="display-1 strong">8K+</strong> Счастливые клиенты
                </p>
              </li>

              <li class="about-item">
                <p>
                  <strong class="display-1 strong">22+</strong> Услуги
                </p>
              </li>

              <li class="about-item">
                <p>
                  <strong class="display-1 strong">30+</strong> лет на рынке
                </p>
              </li>

              <li class="about-item">
                <p>
                  <strong class="display-1 strong">99%</strong> Завершенные проекты
                </p>
              </li>

            </ul>

          </div>

        </div>
      </section>
 </article>


<footer class="footer">

    <div class="footer-top section">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="./static/images/logo.png" width="128" height="63" alt="autofix home">
          </a>

          <p class="footer-text">
            Мы стремимся поддерживать ваш автомобиль в отличном состоянии и обеспечивать вам безопасную и надежную поездку. С нетерпением ждем сотрудничества с вами.
          </p>

          <ul class="social-list">

            <li>
            <a href="https://t.me/saidov5858" class="social-link">
              <img src="./static/images/tgrm.png" alt="telegram" style="width: 14px; height: 14px;">
            </a>
          </li>

            <li>
              <a href="https://www.instagram.com/saidov5858?igsh=NmZmenU2YjVkbGpx" class="social-link">
                <img src="./static/images/instagram.svg" alt="instagram">
              </a>
            </li>

            <li>
              <a href="mailto:server.240599@gmail.com" class="social-link">
                <img src="./static/images/gmail.png" alt="gmail" style="width: 14px; height: 14px;">
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <p class="h3">Рабочее время</p>
          </li>

          <li>
            <p class="p">Понедельник - суббота</p>

            <span class="span">09.00 – 18.00</span>
          </li>

          <li>
            <p class="p">Воскресенье</p>

            <span class="span">10.00 – 17.00</span>
          </li>



        </ul>

        <ul class="footer-list">

          <li>
            <p id="contact" class="h3">Связаться</p>
          </li>

          <li>
            <a href="tel:998939215858" class="footer-link">
    <span class="material-symbols-rounded">☎️</span>
    <span class="span">+998939215858</span>
</a>

          </li>

          <li>
            <a href="mailto:server.240599@gmail.com " class="footer-link">
              <span class="material-symbols-rounded">email</span>

              <span class="span">server.240599@gmail.com </span>
            </a>
          </li>

          <li>
            <address class="footer-link address">
              <span class="material-symbols-rounded">location_on</span>

              <span class="span">Хорезмская область г.Ургенч ул И.Досов</span>
            </address>
          </li>

        </ul>

      </div>

      <img src="./static/images/footer-shape-3.png" width="637" height="173" loading="lazy" alt="Shape"
        class="shape shape-3 move-anim">

    </div>

    <div class="footer-bottom">
      <div class="container">



        <img src="./static/images/footer-shape-2.png" width="778" height="335" loading="lazy" alt="Shape"
          class="shape shape-2">

        <img src="./static/images/footer-shape-1.png" width="805" height="652" loading="lazy" alt="Red Car"
          class="shape shape-1 move-anim">

      </div>
    </div>

  </footer>
 </main>


{% endblock content%}

