{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'mijoz/style.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
 <main>
    <article>

      <!--
        - #HERO
      -->

      <section class="hero has-bg-image" aria-label="home" style="background-image: url('./static/images/hero-bg.jpg')">
        <div class="container">

          <div class="hero-content">

            <p class="section-subtitle :dark">Bizda iqtidorli muhandislar va mexaniklar bor</p>

            <h1 class="h1 section-title">Avto ta'mirlash va texnik xizmat ko'rsatish</h1>

<!--            <p class="section-text">-->
<!--              -->
<!--            </p>-->

            <a href="{% url 'hizmatl' %}" class="btn">
              <span class="span">Bizning xizmatlarimiz</span>

              <span class="material-symbols-rounded">arrow_forward</span>
            </a>

          </div>

          <figure class="hero-banner" style="--width: 1228; --height: 789;">
            <img src="{% static 'images/hero-banner.png' %}" width="1228" height="789" alt="red motor vehicle"
              class="move-anim">
          </figure>

        </div>
      </section>





      <!--
        - #SERVICE
      -->

      <section id="servis" class="section service has-bg-image" aria-labelledby="service-label"
        style="background-image: url('./static/images/service-bg.jpg')">
        <div class="container">

          <p class="section-subtitle :light" id="service-label">Bizning Xizmatlarimiz</p>

          <h2 class="h2 section-title">BIZ SIZNING AVTOMOBILINGIZ UCHUN AJOYIB HIZMATLARNI TAQDIM ETAMIZ</h2>

          <ul class="service-list">

            <li>
              <div class="service-card">

                <figure class="card-icon">
                  <img src="./static/images/services-1.png" width="110" height="110" loading="lazy" alt="Engine Repair">
                </figure>

                <h3 class="h3 card-title">Dvigatelni ta'mirlash</h3>

                <p class="card-text">
                  Avtomobil dvigatelni ta'mirlash
                </p>

<!--                <a href="#" class="btn-link">Ko'proq ko'rish</a>-->

              </div>
            </li>

            <li>
              <div class="service-card">

                <figure class="card-icon">
                  <img src="./static/images/services-2.png" width="110" height="110" loading="lazy" alt="Brake Repair">
                </figure>

                <h3 class="h3 card-title">TORMOZNI TA'MIRLASH</h3>

                <p class="card-text">
                  Tormoz tizimini almashtirish, ta'mirlash
                </p>

<!--                <a href="#" class="btn-link">Ko'proq ko'rish</a>-->

              </div>
            </li>

            <li>
              <div class="service-card">

                <figure class="card-icon">
                  <img src="./static/images/services-3.png" width="110" height="110" loading="lazy" alt="Tire Repair">
                </figure>

                <h3 class="h3 card-title">Shinalarni ta'mirlash
</h3>

                <p class="card-text">
                  Avtomobil shinalarni yamash, almashtirish, ta'mirlash
                </p>

<!--                <a href="#" class="btn-link">KO'PROQ ko'rish</a>-->

              </div>
            </li>

            <li>
              <div class="service-card">

                <figure class="card-icon">
                  <img src="./static/images/services-4.png" width="110" height="110" loading="lazy"
                    alt="Battery Repair">
                </figure>

                <h3 class="h3 card-title">Akkumlyatorni ta'mirlash</h3>

                <p class="card-text">
                  Avtomobil akkumlyatorni almashtirish, ta'mirlash
                </p>

<!--                <a href="#" class="btn-link">Ko'proq ko'rish</a>-->

              </div>
            </li>

            <li class="service-banner">
              <img src="./static/images/services-5.png" width="646" height="380" loading="lazy" alt="Red Car"
                class="move-anim">
            </li>

            <li>
              <div class="service-card">

                <figure class="card-icon">
                  <img src="./static/images/services-6.png" width="110" height="110" loading="lazy"
                    alt="Steering Repair">
                </figure>

                <h3 class="h3 card-title">Rulni ta'mirlash</h3>

                <p class="card-text">
                  Avtomobil rulini almashtirish, ta'mirlash
                </p>

<!--                <a href="#" class="btn-link">Ko'proq ko'rish</a>-->

              </div>
            </li>

          </ul>

          <a href="{% url 'hizmatl' %}" class="btn">
            <span class="span"> Barcha xizmatlarni ko'rish</span>

            <span class="material-symbols-rounded">arrow_forward</span>
          </a>

        </div>
      </section>





      <!--
        - #ABOUT
      -->

      <section id="about" class="section about has-before" aria-labelledby="about-label">
        <div class="container">

          <figure class="about-banner">
            <img src="./static/images/about-banner.png" width="540" height="540" loading="lazy"
              alt="vehicle repire equipments" class="w-100">
          </figure>

          <div class="about-content">

            <p class="section-subtitle :dark">Biz haqimizda</p>

            <h2 class="h2 section-title">AutoFix </h2>

            <p class="section-text">
              bu sizning avtomobilingizni eng yuqori darajadagi xizmat ko'rsatishga va sizning avtomobilingizni eng yaxshi holatda saqlashga
              vaqt va kuch sarflaydigan professional jamoa.
            </p>

            <p class="section-text">
              Bizning asosiy maqsadimiz - har bir mijozga shaxsiy yondashuv, sifatli xizmat va samarali natijalar taqdim etish.
            </p>

            <ul class="about-list">

              <li class="about-item">
                <p>
                  <strong class="display-1 strong">8K+</strong> Xursand mijozlar
                </p>
              </li>

              <li class="about-item">
                <p>
                  <strong class="display-1 strong">22+</strong> Xizmatlar
                </p>
              </li>

              <li class="about-item">
                <p>
                  <strong class="display-1 strong">30+</strong> Yil bozorda
                </p>
              </li>

              <li class="about-item">
                <p>
                  <strong class="display-1 strong">99%</strong> Tugallangan loyihalar
                </p>
              </li>

            </ul>

          </div>

        </div>
      </section>
 </article>


<footer class="footer">

    <div class="footer-top section">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="./static/images/logo.png" width="128" height="63" alt="autofix home">
          </a>

          <p class="footer-text">
            Biz sizning avtomobilingizni eng yaxshi holatda saqlashga va sizga xavfsiz va ishonchli yo'l sayohatini ta'minlashga da'vat qilamiz. Biz siz bilan birga ishlashni kutib olishimizdan mamnunmiz.
          </p>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <img src="./static/images/facebook.svg" alt="facebook">
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <img src="./static/images/instagram.svg" alt="instagram">
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <img src="./static/images/twitter.svg" alt="twitter">
              </a>
            </li>

          </ul>

        </div>

        <ul class="footer-list">

          <li>
            <p class="h3">Ish Vaqti</p>
          </li>

          <li>
            <p class="p">Dushanba – Shanba</p>

            <span class="span">12.00 – 14.45</span>
          </li>

          <li>
            <p class="p">Yakshanba – Payshanba</p>

            <span class="span">17.30 – 00.00</span>
          </li>

          <li>
            <p class="p">Juma – Shanba</p>

            <span class="span">12.00 – 14.45</span>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p id="contact" class="h3">Bog'lanish uchun</p>
          </li>

          <li>
            <a href="tel:+9983333003" class="footer-link">
              <span class="material-symbols-rounded"><></>el:</span>

              <span class="span">+99893 333 3003</span>
            </a>
          </li>

          <li>
            <a href="mailto:info@autofix.com" class="footer-link">
              <span class="material-symbols-rounded">email</span>

              <span class="span">info@autofix.com</span>
            </a>
          </li>

          <li>
            <address class="footer-link address">
              <span class="material-symbols-rounded">location_on</span>

              <span class="span">Uzbekiston ovozi 49,Toshkent, Uzbekistan</span>
            </address>
          </li>

        </ul>

      </div>

      <img src="./static/images/footer-shape-3.png" width="637" height="173" loading="lazy" alt="Shape"
        class="shape shape-3 move-anim">

    </div>

    <div class="footer-bottom">
      <div class="container">



        <img src="./static/images/footer-shape-2.png" width="778" height="335" loading="lazy" alt="Shape"
          class="shape shape-2">

        <img src="./static/images/footer-shape-1.png" width="805" height="652" loading="lazy" alt="Red Car"
          class="shape shape-1 move-anim">

      </div>
    </div>

  </footer>
 </main>


{% endblock content%}

