{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'admin/edit.css' %}">
<h2 style="text-align: center;">Diagnostikani Tahrirlash</h2>
<form method="post" class="edit-form">
    {% csrf_token %}
    <div class="form-group">
        {{ form | crispy }}
    </div>
    <div class="form-group">
        {{ form1 | crispy }}
    </div>
    <button type="submit" class="btn btn-primary">Saqlash</button>
</form>
{% endblock %}
