{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'mijoz/style.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<head>
    <link rel="stylesheet" href="{% static 'admin/zakazlar.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zakazlar</title>
</head>
<body>
<div class="padd container">
    <h2>заказы</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Zakaz ID</th>
                <th>Mijoz FIO</th>
                <th>Avtosi</th>
                <th>Rangi</th>
                <th>Diagnostika</th>
                <th>Servis</th>
                <th>Usta FIO</th>
                <th>Usta Haqqi</th>
            </tr>
        </thead>
        <tbody>
            {% for diagnostika in diagnostikalar %}
                <tr>
                    <td>{{ diagnostika.zakaz_id.id }}</td>
                    <td>{{ diagnostika.zakaz_id.mijoz_fio }}</td>
                    <td>{{ diagnostika.zakaz_id.avtosi }}</td>
                    <td>{{ diagnostika.zakaz_id.rangi }}</td>
                    <td>{{ diagnostika.zakaz_id.diagnostika }}</td>
                    <td>{{ diagnostika.servis }}</td>
                    <td>{{ diagnostika.usta_id.fio }}</td>
                    <td>{{ diagnostika.usta_haqqi }}</td>

                    <td><a href="{% url 'zakazedit' diagnostika.id %}">
                <i class='bx bx-edit-alt'></i>
            </a></td>


                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>

{% endblock content%}