{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'mijoz/style.css' %}">
  <script src="{% static 'js/script.js' %}"></script>
<link rel="stylesheet" href="{% static 'admin/servis.css' %}">
<div class="padd container">
<h2 style="text-align: center;">изменить заказ</h2>
<form method="post" class="edit-form">
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p}}
    </div>
    <div class="form-group">
        {{ form1.as_p }}
    </div>
    <button type="submit" class="btn btn-primary">изменять</button>
</form>
</div>
{% endblock %}
