{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    hr {
        height: 5px;
        background-color: blue;
    }
</style>
<link rel="stylesheet" href="{% static 'mijoz/style.css' %}">
<script src="{% static 'js/script.js' %}"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<head>
    <link rel="stylesheet" href="{% static 'admin/zakazlar.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zakazlar</title>
    <script>
        function toggleSort() {
            const currentSort = "{{ current_sort }}";
            const newSort = currentSort === "asc" ? "desc" : "asc";
            const url = new URL(window.location.href);
            url.searchParams.set('sort', newSort);
            window.location.href = url.toString();
        }
    </script>
</head>
<body>
<div class="padd container">
    <h2>заказы</h2>
    <button onclick="toggleSort()">Сортировка</button>
    {% for i in malumot %}
    <table border="1">
        <thead>
            <tr>
                <th>Заказ ID</th>
                <th>ФИО клиента</th>
                <th>Aвтомобиль</th>
                <th>Цвет</th>
                <th>Диагностика</th>
                <th>Служба</th>
                <th>Рабочий</th>
                <th>Деньги сотрудника</th>
                <th>Время</th>
            </tr>
        </thead>
        <tbody>
            {% for diagnostika in i.diagnostikalar %}
                <tr>
                    <td>{{ diagnostika.zakaz_id.id }}</td>
                    <td>{{ diagnostika.zakaz_id.mijoz_fio }}</td>
                    <td>{{ diagnostika.zakaz_id.avtosi }}</td>
                    <td>{{ diagnostika.zakaz_id.rangi }}</td>
                    <td>{{ diagnostika.zakaz_id.diagnostika }}</td>
                    <td>{{ diagnostika.servis }}</td>
                    <td>{{ diagnostika.usta_id.fio }}</td>
                    <td>{{ diagnostika.usta_haqqi }}</td>
                    <td>{{ diagnostika.zakaz_id.vaqti|date:"Y-m-d H:i:s" }}</td>

                    {% if diagnostika.status %}
                        <td style="background-color:red; color:white;">Завершена <br>{{ diagnostika.t_vaqti|date:"Y-m-d H:i:s" }}</td>
                    {% else %}
                        <td style="background-color:green; color:white;">новая работа</td>
                    {% endif %}

                    <td><a href="{% url 'zakazedit' diagnostika.id %}">
                        <i class='bx bx-edit-alt'></i>
                    </a></td>

                    <td>
                        {% if diagnostika.status %}
                             <a href="{% url 'zakazdelete' diagnostika.id %}">
                              Добавить
                            </a>
                        {% else %}
                            <a href="{% url 'zakazdelete' diagnostika.id %}">
                              Завершить
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="8">Общая сумма</td>
                <td>{{ i.summa }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    {% endfor %}
</div>
</body>
</html>
{% endblock content %}
