.kalla_ogriq {
padding-top:150px
}
.xizmat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 130px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.xizmat-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.xizmat-details {
    margin-left: 20px;
}

.xizmat-title {
    font-size: 24px;
    color: #333;
}

.xizmat-description {
    font-size: 16px;
    color: #666;
}
